.main-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.main-list__item {
  background: #FFFFFF;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  width: 256px;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: all .3s ease;

  &:hover {
    border: 1px solid #3751FF;
  }

  &:hover .main-list__text {
    color: #3751FF;
  }

  &:hover .main-list__number {
    color: #3751FF;
  }
}

.main-list__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #9FA2B4;
  margin: 0;
  margin-bottom: 12px;
  transition: all .3s ease;
}

.main-list__number {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  color: #252733;
  margin: 0;
  transition: all .3s ease;
}