.box__item {
  width: 342px;
  display: block;
  border: 1px solid rgb(203, 201, 201);
}

.box__text5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #9FA2B4;
}

.box__number {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #252733;
}